GitPython
Pillow
accelerate

blendmodes==2024.1.1
clean-fid
diskcache
einops
facexlib
fastapi>=0.115.0
gradio==3.50.2
inflection
jsonmerge
kornia
lark
numpy
omegaconf
open-clip-torch

piexif
protobuf>=5.29.0
psutil
pytorch_lightning
requests
resize-right

safetensors
scikit-image>=0.19
tomesd
torch
torchdiffeq
torchsde
transformers==4.57.6
pillow-avif-plugin==1.5.5
